/* <link rel="stylesheet" type="text/css" href="https://rawgit.com/malyutinegor/ldt/master/1.css"> */

body {
	background-image: url("https://rawgit.com/malyutinegor/ldt/master/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

body > * {
	opacity: 0.5;
}
